@import "bootstrap/dist/css/bootstrap.css";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
// @import "@fortawesome/fontawesome-free/scss/brands";
// @import "@fortawesome/fontawesome-free/scss/regular";

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

@import "./assets/scss/ag-grid.scss";
@import "./assets/scss/padding&margin.scss";
@import "./assets/scss/colors.scss";

// Variables
$primary: $primaryColor;
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: #eafaff;
}

.center-block {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.middle-block {
  display: flex;
  justify-content: center;
}

.header-title {
  padding: 1rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 0.2rem;
  padding-left: 0 !important;
  border-bottom: 1px solid $primaryColor;
}

.header-top {
  display: flex !important;
  justify-content: space-between !important;
  padding: 1rem;
  border-bottom: 1px solid $primaryColor;
}

.swal2-styled.swal2-confirm {
  background-color: $primaryColor !important;
}

.swal2-icon.swal2-error {
  border-color: $redColor !important;
}

.swal2-styled.swal2-cancel {
  background-color: $primaryColor !important;
}

.swal2-icon.swal2-warning {
  border-color: $redColor !important;
  color: $redColor !important;
}

.invalid-feedback-check-box {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 1rem;
  color: #ff6565;
  font-weight: 400;
}

.text-bg-info, .text-bg-warning {
  color: $white !important;
}