<div class="form-group">
  <label class="col-form-label">{{label}}</label>
  <input class="form-control"
    type={{type}}
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    [ngClass]="{'is-invalid': ngControl.touched && ngControl.invalid}"
    [formControl]="$any(ngControl).control" placeholder={{label}}>

  <div *ngIf="ngControl.control?.errors?.required" class="invalid-feddback">Favor ingresar un {{label}}</div>
  <div *ngIf="ngControl.control?.errors?.minLength" class="invalid-feddback">
    {{label}} debe ser menor que {{ngControl.control?.errors?.minlength['requiredLength']}}
  </div>
  <div *ngIf="ngControl.control?.errors?.maxLength" class="invalid-feddback">
    {{label}} debe ser menor que {{ngControl.control?.errors?.maxlength['requiredLength']}}
  </div>
  <div *ngIf="ngControl.control?.errors?.isMatching" class="invalid-feddback">
    La contraseña no coincide</div>
</div>