<div class="form-group" [ngClass]="colClass">
  <label class="col-form-label">{{label}}</label>
  <input class="form-control"
    [type]="type"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    [formControl]="$any(ngControl).control" placeholder={{label}}>

  <div *ngIf="ngControl.control?.errors?.required" class="invalid-feedback">Favor ingresar {{label}}</div>
  <div *ngIf="ngControl.control?.errors?.minLength" class="invalid-feedback">
    {{label}} debe ser menor que {{ngControl.control?.errors?.minlength?.requiredLength}}
  </div>
  <div *ngIf="ngControl.control?.errors?.maxlength" class="invalid-feedback">
    {{label}} debe ser menor que {{ngControl.control?.errors?.maxlength?.requiredLength}}
  </div>
  <div *ngIf="ngControl.control?.errors?.invalidRepeatPassword" class="invalid-feedback">
    La contraseña no coincide
  </div>
  <div *ngIf="ngControl.control?.errors?.email" class="invalid-feedback">
    Correo inválido
  </div>
  <div *ngIf="ngControl.control?.errors?.min" class="invalid-feedback">
    {{label}} debe ser mayor que {{ngControl.control?.errors?.min?.min}}
  </div>
  <div *ngIf="ngControl.control?.errors?.invalidPhone" class="invalid-feedback">
    {{label}} invalido, solo soporta + y números
  </div>
</div>