<!-- <app-progress *ngIf="saving"></app-progress>
<div class="container">
  <div class="header-top my-2 p-3 bg-body rounded shadow-sm">
    <h3>Registrar usuario</h3>
  </div>
  <div class="m-l-0 m-r-0 m-t-16 p-16 bg-body rounded shadow-sm">
    <form [formGroup]="formGroup" (ngSubmit)="register()">
      <div class="row">
        <div class="col-lg-6">
          <app-text-number-input [id]="'name'" formControlName="name" [label]="'Nombre'" [autofocus]="true"></app-text-number-input>
        </div>
        <div class="col-lg-6">
          <app-text-number-input [id]="'middleName'" formControlName="middleName" [label]="'Segundo Nombre'"></app-text-number-input>
        </div>
        <div class="col-lg-6">
          <app-text-number-input [id]="'surname'" formControlName="surname" [label]="'Apellido'"></app-text-number-input>
        </div>
        <div class="col-lg-6">
          <app-text-number-input [id]="'secondSurname'" formControlName="secondSurname" [label]="'Segundo Apellido'"></app-text-number-input>
        </div>
        <div class="col-lg-6">
          <app-text-number-input [id]="'document'" formControlName="document" [label]="'Documento'" [type]="'number'"></app-text-number-input>
        </div>
        <div class="col-lg-6">
          <app-text-number-input [id]="'phone'" formControlName="phone" [label]="'N° de teléfono'"></app-text-number-input>
        </div>
        <div class="col-lg-6">
          <app-text-number-input [id]="'email'" formControlName="email" [label]="'Correo'" [type]="'email'"></app-text-number-input>
        </div>
        <div class="col-lg-6">
          <app-select-input [id]="'country'" formControlName="country" [label]="'País'" [options]="countries"></app-select-input>
        </div>
        <div class="col-lg-6">
          <app-text-number-input [id]="'password'" formControlName="password" [label]="'Contraseña'" [type]="'password'"></app-text-number-input>
        </div>
        <div class="col-lg-6">
          <app-text-number-input [id]="'repeatPassword'" formControlName="repeatPassword" [label]="'Repetir Contraseña'" [type]="'password'"></app-text-number-input>
        </div>
      </div>
      <div class="form-group text-center btn-footer m-t-16">
        <button class="btn btn-outline-primary m-r-8" type="button" name="cancel" [disabled]="saving" (click)="close()">
          Cancelar
        </button>
        <button class="btn btn-outline-primary" type="submit" name="save" [disabled]="!formGroup.valid || saving" (keydown.enter)="register()">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div> -->