<div class="container p-t-10">
  <div class="card">
    <div class="center-block" style="flex-direction: column;">
      <img src="../../../../assets/img/unauthorized.png" alt="Usuario sin autorización" title="Usuario sin autorización">
    </div>
    <div class="center-block">
      <span class="message-text">
        Cuenta aún no ha sido aprobada, contacte con un administrador e intente devuelta.
      </span>
    </div>
  </div>
  <div class="card m-t-10 p-t-b-10 center-block">
    <button class="btn btn-outline-primary p-t-4" (click)="logout()">
      Cambiar cuenta
    </button>
  </div>
</div>