@import "./colors.scss";

ag-grid-angular {
  height: calc(83vh - 17px);
  margin-bottom: 16px;
}

.ag-cell-data-changed {
  // --ag-value-change-value-highlight-background-color: $primaryColor
  background-color: $primaryColor !important;
}

.long-text-cell-ag-grid {
  line-height: 1 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-right: 0 !important;
  word-break: break-word !important;
}

.ag-root-wrapper.ag-layout-normal {
  border-radius: var(--bs-border-radius) !important;
}