@import "./colors.scss";

ag-grid-angular {
  height: calc(83vh - 17px);
  margin-bottom: 16px;
}

.ag-cell-data-changed {
  // --ag-value-change-value-highlight-background-color: $primaryColor
  background-color: $primaryColor !important;
}

.long-text-cell-ag-grid {
  display: flex;
  flex-wrap: wrap;
  line-height: 1 !important;
  word-break: break-word !important;
}

.ag-root-wrapper.ag-layout-normal {
  border-radius: var(--bs-border-radius) !important;
}

@media screen and (max-height: 768px) {
  ag-grid-angular {
    height: 78vh;
    margin-bottom: 10px;
  }
}