<div class="header-container">
  <nav class="nav-main">
    <div class="nav-menu-left">
      <a class="navbar-brand" routerLink="inicio">OdonSys</a>
    </div>
        <ul class="nav-menu">
          <li>
            <a routerLink="admin/doctores">Doctores</a>
          </li>
          <li>
            <a href="roles">Roles</a>
          </li>
          <li>
            <a routerLink="admin/procedimientos">Procedimientos</a>
          </li>
          <li>
            <a href="pacientes">Pacientes</a>
          </li>
          <li>
            <a href="pacientes">Mis Pacientes</a>
          </li>
          <li>
            <a href="admin">Administración</a>
          </li>
        </ul>
      <ul class="nav-menu-right">
        <li>
          <a href="configuration">Mi Configuración</a>
        </li>
      </ul>
  </nav>
</div>
