#payments {
  max-height: 366px !important;
  overflow-x: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
}

#header-payments {
  padding-left: 2rem;
  padding-right: 2rem;

}
#paid-detail {
  padding-right: 3rem !important;
  padding-left: 2rem;
}