<form [formGroup]="formGroup">
  <div class="modal-header">
    <h4 class="modal-title">Pagos</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" [disabled]="saving" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <h5>Datos Facturas</h5>
    <div class="col-12 row">
      <div class="row">
        <h6 class="col-4">Quien creó</h6>
        <h6 class="col-4">Factura Total</h6>
        <h6 class="col-4">Monto Faltante</h6>
      </div>
      <div class="row">
        <label class="col-4" for="userCreated">{{invoice.userCreated}}</label>
        <label class="col-4" for="totalInvoice">Gs. {{formGroup.value.total | number: '': 'es'}}</label>
        <label class="col-4" for="remainingDebt">Gs. {{formGroup.value.remainingDebt | number: '': 'es'}}</label>
      </div>
      <br>
      <br>
      <div *ngIf="!hasPayments; else allPayments">
        <h5>Sin pagos realizados</h5>
      </div>
      <ng-template #allPayments>
        <h5>Pagos realizados</h5>
        <div class="row justify-content-between">
          <h6 class="col-4">Quien registró</h6>
          <h6 class="col-4">Fecha pagada</h6>
          <h6 class="col-4">Monto</h6>
          <ng-container *ngFor="let payment of payments">
            <label class="col-3 offset-2">{{payment.dateCreated | date: 'dd/MM/yyyy': '': 'es'}}</label>
            <label class="col-2 offset-4">Gs. {{formGroup.value.remainingDebt | number: '': 'es'}}</label>
          </ng-container>
        </div>
        <br>
        <br>
      </ng-template>
      <br>
      <br>
      <h5>Registrar Pago</h5>
      <div class="col-12">
        <app-text-number-input [label]="'Ingrese monto a pagar'" formControlName="amount"></app-text-number-input>
      </div>
      <br>
      <br>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.close()"
      [disabled]="saving">Cerrar</button>
    <button type="button" class="btn btn-outline-primary" (click)="save()" [disabled]="saving">Registrar Pago</button>
  </div>
</form>