.p-l-10 {
  padding-left: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.col-3, .col-9, footer {
  padding-right: 0 !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

footer {
  // position: absolute;
  // bottom: 10px;
  // padding-right: 10px !important;
  // padding-left: 10px !important;
  // margin-right: calc(-0.5 * var(--bs-gutter-x));

  & .card-body {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
  }
}

.col-md-4, .col-md-3 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.align-center {
  display: flex !important;
  align-items: center !important;
}

.card-body.amount {
  padding-bottom: 0.3rem !important;
  padding-top: 0.3rem !important;
}

.procedures {
  overflow-x: hidden;
  max-height: 530px !important;
}

#selected-procedures-items {
  max-height: 456px !important;
  overflow-x: hidden;
}

.upload-files-height {
  overflow-x: hidden;
  height: 356px !important;
}