.col-3, .col-9, footer {
  padding-right: 0 !important;
}

footer {
  & .card-body {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
  }
}

.col-md-4, .col-md-3 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.align-center {
  display: flex !important;
  align-items: center !important;
}

.card-body.amount {
  padding-bottom: 0.3rem !important;
  padding-top: 0.3rem !important;
}

.procedures {
  overflow-x: hidden;
  max-height: 530px !important;
}

#selected-procedures-items {
  max-height: 456px !important;
  overflow-x: hidden;
}

.upload-files-height {
  overflow-x: hidden;
  height: 355px !important;
}

@media screen and (max-height: 768px) {
  .upload-files-height {
    overflow-x: hidden;
    height: 193px !important;
  }

  #selected-procedures-items {
    max-height: 325px !important;
    overflow-x: hidden;
  }
}

.color-difficult {
  width: 2rem;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: var(--bs-border-radius-sm);
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  min-width: 0.7rem;
}

.col-md-2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.btn-outline-info:hover {
  color: white !important;
}