<app-progress *ngIf="!load || saving"></app-progress>
<div class="p-l-10 p-t-10" [formGroup]="formGroup">
  <main class="row w-100">
    <aside class="col-3">
      <div class="p-b-10">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pacientes</h5>
            <div class="row">
              <div class="col-8">
                <select class="form-select" formControlName="clientId">
                  <option [value]="''" disabled>Pacientes existentes</option>
                  <option [value]="client.id" *ngFor="let client of clients">{{client.name}} {{client.surname}}
                  </option>
                </select>
              </div>
              <div class="col text-end p-t-0">
                <button type="button" class="btn btn-outline-primary" (click)="cleanClient()">Nuevo</button>
              </div>
            </div>
            <form [formGroup]="clientFormGroup" class="row">
              <div class="col-lg-6 col-md-6">
                <app-text-number-input [label]="'Nombre'" formControlName="name"
                  [colClass]="'col-lg-12'"></app-text-number-input>
              </div>
              <div class="col-lg-6 col-md-6">
                <app-text-number-input [label]="'Segundo Nombre'" formControlName="middleName"
                  [colClass]="'col-lg-12'"></app-text-number-input>
              </div>
              <div class="col-lg-6 col-md-6">
                <app-text-number-input [label]="'Apellido'" formControlName="surname"
                  [colClass]="'col-lg-12'"></app-text-number-input>
              </div>
              <div class="col-lg-6 col-md-6">
                <app-text-number-input [label]="'Segundo Apellido'" formControlName="secondSurname"
                  [colClass]="'col-lg-12'"></app-text-number-input>
              </div>
              <div class="col-lg-6 col-md-6">
                <app-text-number-input [label]="'N° de teléfono'" formControlName="phone"
                  [colClass]="'col-lg-12'"></app-text-number-input>
              </div>
              <div class="col-lg-6 col-md-6">
                <app-select-input [label]="'País'" formControlName="country" [options]="countries"
                  [colClass]="'col-lg-12'"></app-select-input>
              </div>
              <div class="col-lg-6 col-md-6">
                <app-text-number-input [label]="'Documento'" formControlName="document" [type]="'number'"
                  [colClass]="'col-lg-12'"></app-text-number-input>
              </div>
              <div class="col-lg-6 col-md-6">
                <app-text-number-input [label]="'Ruc'" formControlName="ruc" [type]="'number'"
                  [colClass]="'col-lg-12'"></app-text-number-input>
              </div>
              <div class="col-lg-6 col-md-6">
                <app-text-number-input [label]="'Correo'" formControlName="email" [type]="'email'"
                  [colClass]="'col-lg-12'"></app-text-number-input>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card upload-files-height">
        <div class="card-body">
          <app-upload-file [uploadFileConfig]="uploadFileConfig"></app-upload-file>
        </div>
      </div>
    </aside>
    <section class="col-9">
      <header class="col-md-12 p-b-10">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Procedimientos</h5>
            <div class="col-lg-6 col-md-6">
              <app-select-input formControlName="procedure" [label]="'Lista de procedimientos'" [options]="proceduresValues"></app-select-input>
              <div class="invalid-feedback-check-box" *ngIf="formGroup.get('procedures')?.hasError('noneSelected')">
                Debe seleccionar al menos un procedimiento.
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="col-md-12 p-b-10" id="selected-procedures">
        <div class="card">
          <div class="card-body" [ngStyle]="{'height.px': formGroup.get('procedures')?.hasError('noneSelected') ? minimumProcedureHeight : maximumProcedureHeight}">
            <h5 class="card-title">Procedimientos seleccionados</h5>
            <article formArrayName="procedures">
              <header class="row">
                <div class="col-md-2 d-flex justify-content-center">
                  <label for="name" class="fw-bold">Dificultad</label>
                </div>
                <div class="col-md-2">
                  <label for="name" class="fw-bold">N° Diente</label>
                </div>
                <div class="col-md-2">
                  <label for="name" class="fw-bold">Nombre</label>
                </div>
                <div class="col-md-2">
                  <label for="price" class="fw-bold">Precio</label>
                </div>
                <div class="col-md-2">
                  <label for="finalPrice" class="fw-bold">Precio final</label>
                </div>
              </header>
              <main class="row align-center" id="selected-procedures-items">
                <ng-container [formGroup]="procedure" *ngFor="let procedure of formGroup.controls.procedures.controls; let i = index">
                  <div class="col-md-2">
                    <div class="d-flex">
                      <button class="btn btn-sm btn-outline-info m-r-2" (click)="selectTooth(i)">
                        <span class="d-flex-center">
                          <i class="fas fa-magnifying-glass"></i>
                        </span>
                      </button>
                      <label class="color-difficult" [ngStyle]="{'background': procedure.value.color }"></label>
                      <label class="form-label">{{procedure.value.difficult}}</label>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <ng-container *ngIf="procedure.value.toothIds?.length !== 0; else noTeeth">
                      <label>
                        {{procedure.value.teethSelected}}
                      </label>
                    </ng-container>
                    <ng-template #noTeeth>
                      <label class="form-label">Sin dientes seleccionados</label>
                    </ng-template>
                    
                  </div>
                  <div class="col-md-2">
                    <label class="form-label">{{procedure.value.name}}</label>
                  </div>
                  <div class="col-md-2">
                    <label class="form-label"> Gs. {{procedure.value.price | number:'' : 'es' }}</label>
                  </div>
                  <div class="col-md-2">
                    <div class="input-group">
                      <span class="input-group-text">Gs.</span>
                      <input type="text" class="form-control text-end" formControlName="finalPrice" placeholder="Precio"
                        thousandSeparator="." [mask]="'separator.0'">
                    </div>
                    <!-- <small class="invalid-feedback-check-box f-s-12" *ngIf="procedure?.hasError('invalidFinalPrice')">
                      El Precio final <strong>Gs. {{procedure.value.finalPrice | number:'' : 'es'}}</strong> no puede ser mayor a <strong>Gs. {{procedure.value.price | number:'' : 'es'}}</strong>.
                    </small> -->
                  </div>
                  <div class="col-md-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-primary" (click)="removeProcedure(procedure.controls.id.value!)">
                      Cancelar
                    </button>
                  </div>
                </ng-container>
              </main>
            </article>
          </div>
        </div>
      </main>
      <section class="col-md-12 p-b-10">
        <div class="card">
          <footer class="card-body amount">
            <main class="row justify-content-end">
              <article class="col-md-3 p-b-0 p-t-0">
                <label class="col-form-label m-b-0" for="subTotal">
                  <strong>Sub Total:</strong> Gs. {{formGroup.controls.subTotal.value | number:'' : 'es' }}
                </label>
              </article>
              <article class="col-md-5">
                <label class="col-form-label m-b-0" for="montoTotal">
                  <strong>Monto Total:</strong> Gs. {{formGroup.controls.total.value | number:'' : 'es' }}
                </label>
              </article>
            </main>
          </footer>
        </div>
      </section>
      <footer class="col-12">
        <div class="card">
          <main class="card-body">
            <article class="d-flex justify-content-end">
              <button type="button" class="btn btn-outline-primary m-r-8" name="cancel" [disabled]="saving"
                (click)="exit()">
                Cancelar
              </button>
              <button type="button" class="btn btn-outline-primary" name="save" [disabled]="formGroup.invalid || saving"
                (click)="save()">
                Guardar
              </button>
            </article>
          </main>
        </div>
      </footer>
    </section>
  </main>
</div>