<div class="p-l-10 p-t-10">
  <section class="row w-100">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Clientes</h5>
          <form [formGroup]="clientFormGroup" class="row">
            <div class="col-lg-6 col-md-6">
              <app-text-number-input [label]="'Nombre'" formControlName="name" [colClass]="'col-lg-12'"></app-text-number-input>
            </div>
            <div class="col-lg-6 col-md-6">
              <app-text-number-input [label]="'Segundo Nombre'" formControlName="middleName" [colClass]="'col-lg-12'"></app-text-number-input>
            </div>
            <div class="col-lg-6 col-md-6">
              <app-text-number-input [label]="'Apellido'" formControlName="surname" [colClass]="'col-lg-12'"></app-text-number-input>
            </div>
            <div class="col-lg-6 col-md-6">
              <app-text-number-input [label]="'Segundo Apellido'" formControlName="secondSurname" [colClass]="'col-lg-12'"></app-text-number-input>
            </div>
            <div class="col-lg-6 col-md-6">
              <app-text-number-input [label]="'N° de teléfono'" formControlName="phone" [colClass]="'col-lg-12'"></app-text-number-input>
            </div>
            <div class="col-lg-6 col-md-6">
              <app-select-input [label]="'País'" formControlName="country" [options]="countries" [colClass]="'col-lg-12'"></app-select-input>
            </div>
            <div class="col-lg-6 col-md-6">
              <app-text-number-input [label]="'Documento'" formControlName="document" [type]="'number'" [colClass]="'col-lg-12'"></app-text-number-input>
            </div>
            <div class="col-lg-6 col-md-6">
              <app-text-number-input [label]="'Ruc'" formControlName="ruc" [type]="'number'" [colClass]="'col-lg-12'"></app-text-number-input>
            </div>
            <div class="col-lg-6 col-md-6">
              <app-text-number-input [label]="'Correo'" formControlName="email" [type]="'email'" [colClass]="'col-lg-12'"></app-text-number-input>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="col-md-12 p-b-10">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Procedimientos</h5>
            <ul>
              <li>Leyenda 1</li>
              <li>Leyenda 2</li>
              <li>Leyenda 3</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 p-b-10">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bloque con tres inputs</h5>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="input1" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="input1">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="input2" class="form-label">Monto</label>
                      <input type="number" class="form-control" id="input2">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="input3" class="form-label">Monto Final</label>
                      <input type="number" class="form-control" id="input3">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 p-b-10">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bloque con tres inputs</h5>
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="input1" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="input1">
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="input2" class="form-label">Monto</label>
                  <input type="number" class="form-control" id="input2">
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="input3" class="form-label">Monto Final</label>
                  <input type="number" class="form-control" id="input3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="row w-100">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-primary m-r-8">Cancelar</button>
          <button type="button" class="btn btn-outline-primary">Guardar</button>
        </div>
      </div>
    </div>
  </footer>
</div>