<header>

  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="#">OdonSys</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#miMenu" aria-controls="miMenu"
              aria-expanded="false" aria-label="Mi Marca">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="miMenu">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Doctores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Roles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Procedimientos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Clientes</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>