<div class="header-container">
  <nav class="nav-main">
    <div class="nav-menu-left">
      <a class="navbar-brand" href="#">OdonSys</a>
    </div>
        <ul class="nav-menu">
          <li>
            <a href="#">Doctores</a>
          </li>
          <li>
            <a href="#">Roles</a>
          </li>
          <li>
            <a href="#">Procedimientos</a>
          </li>
          <li>
            <a href="#">Clientes</a>
          </li>
        </ul>
      <ul class="nav-menu-right">
        <li>
          <a href="#">Mi Configuración</a>
        </li>
      </ul>
  </nav>
</div>
