@import "../../../../assets/scss/colors.scss";

.header-container {
  width: 100%;
  margin: auto;
  background-color: $primaryColor;
  position: sticky;
  z-index: 1;
  top: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 17px;
}

.nav-main ul {
  display: flex;
  & li {
    padding: 15px;
    & a.nav-link {
      padding: 1px;
      &:hover {
        border-bottom: 2px solid $white;
        color: $white;
      }
      &:focus {
        color: $white;
      }
      &.active {
        border-bottom: 2px solid $white;
      }
    }
  }
  &.nav-menu {
    flex: 1;
    margin-left: 20px;
  }
}

.navbar-brand {
  width: 50px;
  padding-left: 15px;
}
