.p-l-10 {
  padding-left: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.col-3, .col-9, footer {
  padding-right: 0 !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

footer {
  padding-left: 0.75rem !important;
  padding-top: 10px;

  & .card-body {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
  }
}

.col-md-4, .col-md-3 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.align-center {
  display: flex !important;
  align-items: center !important;
}

.card-body.amount {
  padding-bottom: 0.3rem !important;
  padding-top: 0.3rem !important;
}

.procedures {
  overflow-x: hidden;
  max-height: 530px !important;
}

#selected-procedure-items {
  max-height: 38.2rem !important;
  overflow-x: hidden;
}

#actions-buttons {
  margin-left: 25.7%;
  width: 74.3%;
}

#procedure-section { 
  height: 45.5rem;
}

#paid-section {
  height: 16rem;
  margin-bottom: 10px !important;
}

#file-preview {
  height: 32.8rem;
}

#payments {
  max-height: 44rem !important;
  overflow-x: hidden;
  & :last-child {
    font-weight: bold;
  }
}

.paid-header, .paid-content-row {
  margin-right: auto;
}

#footer-procedures {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#paid-items {
  max-height: 11rem !important;
  overflow-x: hidden;
}

.pictures {
  width: 250px;
  padding: 20px;
  align-self: center;
}

.invoice-file {
  overflow-x: hidden;
  max-height: 440px;
}

.legend {
  padding: 15px;
  text-align: center;
}

.gallery {
  border: 1px solid #ccc;
  margin-left: 43px !important;
  margin-right: 8px !important;
  margin-bottom: 10px !important;
  align-items: center;
  display: flex;
  flex-direction: column;

  &:hover {
    border: 1px solid #777;
  }
}

.gallery-pdf {
  border: 1px solid #ccc;
  margin-left: 43px !important;
  margin-right: 8px !important;
  margin-bottom: 10px !important;
  align-items: center;
  display: flex;
  flex-direction: column;

  &:hover {
    background: linear-gradient(to bottom, #b5e0ed, #a2bad5);
    height: 200px;
    .pdf {
      color: #b30c0021;
    }
  }

  &:hover:after {
    content: "\f381";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    color: #0000ff;
    position: absolute;
  }
}

.pdf {
  font-size: 8rem;
  padding-top: 1rem;
  color: #b30b00;
}