@import "../../../../assets/scss/colors.scss";

.col-3, .col-9, footer {
  padding-right: 0 !important;
}

footer {
  padding-left: 0.75rem;
  padding-top: 10px;

  & .card-body {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
  }
}

.col-md-4, .col-md-3 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.align-center {
  display: flex !important;
  align-items: center !important;
}

.card-body.amount {
  padding-bottom: 0.3rem !important;
  padding-top: 0.3rem !important;
}

.procedures {
  overflow-x: hidden;
  max-height: 530px !important;
}

#selected-procedure-items {
  max-height: 38.2rem !important;
  overflow-x: hidden;
}

#actions-buttons {
  margin-left: 25.7%;
  width: 74.3%;
}

#procedure-section { 
  height: 44.8rem;
}

#paid-section {
  height: 16rem;
  margin-bottom: 10px !important;
}

#file-preview {
  height: 32.2rem;
}

#payments {
  max-height: 44rem !important;
  overflow-x: hidden;
}

.paid-header, .paid-content-row {
  margin-right: auto;
}

#footer-procedures {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#paid-items {
  max-height: 11rem !important;
  overflow-x: hidden;
}

.pictures {
  width: 250px;
  // padding: 20px;
  align-self: center;
}

.invoice-file {
  overflow-x: hidden;
  max-height: 440px;
}

.legend {
  padding: 15px;
  text-align: center;
}

.gallery {
  border: 1px solid #ccc;
  margin-left: 43px !important;
  margin-right: 8px !important;
  margin-bottom: 10px !important;
  border-radius: 10px;

  &:hover {
    border: 1px solid #777;
    .icon-file {
      display: flex;
    }
    .row-icons {
      background-color: #d1f2ff;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      & > a {
        text-decoration: none;
      }
    }
    .legend {
      background-color: #d1f2ff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.pdf {
  font-size: 8rem;
  padding-top: 0.6rem;
  color: #b30b00;
}

.icon-file {
  height: 30px;
  display: none;
  font-size: 1.2rem;
  color: $primaryColor;
  margin-left: 1rem;
  margin-top: 8px;
  cursor: pointer;
}

.no-file {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}