<form [formGroup]="formGroup">
  <div class="modal-header">
    <h4 class="modal-title">Lista de Dientes</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body p-l-20 p-r-20 p-t-0">
    <div class="col-lg-12 row m-t-16" formArrayName="teeth">
      <ng-container *ngFor="let tooth of teethFormArray.controls; let i = index">
        <h5 class="d-flex justify-content-center" *ngIf="i === 0 || i === 16">
          <ng-container  *ngIf="tooth.value.jaw! === jaw.Upper">
            Maxilar
          </ng-container>
          <ng-container *ngIf="tooth.value.jaw! === jaw.Lower">
            Mandibular
          </ng-container>
        </h5>
        <div class="form-check" [ngClass]="[(i%2 === 0) ? 'col-lg-7': 'col-lg-4']">
          <h6 *ngIf="i === 0 || i === 1 || i === 16 || i === 17">
            {{
              tooth.value.quadrant === quadrant.First ? 'Superior derecha' :
              tooth.value.quadrant === quadrant.Second ? 'Superior izquierda' :
              tooth.value.quadrant === quadrant.Fourth ? 'Inferior derecha':
              'Inferior izquierda'
            }}
          </h6>
          <div class="m-l-32">
            <input class="form-check-input" type="checkbox" [formControl]="tooth.controls.value" [id]="tooth.value.id">
            <label class="form-check-label m-r-2" [for]="tooth.value.id">{{tooth.value.name}} ({{tooth.value.number}})</label>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.close()">Cerrar</button>
    <button type="button" class="btn btn-outline-primary" (click)="save()">Guardar</button>
  </div>
</form>