<div class="center-block" style="flex-direction: column;">
  <img src="../../../../assets/img/dentist.png" alt="Página no encontrada" title="Dentist stickers created by Stickers - Flaticon">
  <a href="https://www.flaticon.com/free-icons/dentist" title="dentist stickers">Dentist stickers created by Stickers -
    Flaticon</a>
</div>
<div class="center-block">
  <span class="notFoundText">
    Página no encontrada
  </span>
</div>
<div class="center-block">
  <div class="btn btn-outline-primary" routerLink="">
    <span>
      Volver a Inicio
    </span>
  </div>
</div>