<app-progress *ngIf="!load"></app-progress>
<div class="container">
  <div class="header-top my-2 p-3 bg-body rounded shadow-sm">
    <h3>Detalles Paciente</h3>
  </div>
  <div class="m-l-0 m-p-0 m-t-16 p-16 bg-body rounded shadow-sm" [formGroup]="formGroup">
    <main class="row w-100">
      <section class="p-r-0 p-b-10">
        <main class="card">
          <article class="card-body">
            <h4 class="card-title">Datos Personales</h4>
            <form [formGroup]="clientFormGroup" class="row">
              <div class="row col-lg-12 col-md-6">
                <div class="col-lg-6">
                  <strong class="col-3">Nombre: </strong>
                  <label class="col" id="name">{{clientFormGroup.value.name}}</label>
                </div>
                <div class="col-lg-6">
                  <strong class="col-3">Documento: </strong>
                  <label class="col"
                    id="document">{{clientFormGroup.value.document}}-{{clientFormGroup.value.ruc}}</label>
                </div>
              </div>
              <div class="row col-lg-12 col-md-6">
                <div class="col-lg-6">
                  <strong class="col-3">N° de teléfono: </strong>
                  <label class="col" id="phone">{{clientFormGroup.value.phone}}</label>
                </div>
                <div class="col-lg-6">
                  <strong class="col-3">País: </strong>
                  <label class="col" id="country">{{clientFormGroup.value.country}} </label>
                </div>
              </div>
              <div class="row col-lg-12 col-md-6">
                <div class="col-lg-6">
                  <strong>Correo: </strong>
                  <label id="email">{{clientFormGroup.value.email}}</label>
                </div>
              </div>
            </form>
          </article>
        </main>
      </section>
      <section class="p-r-0">
        <main class="card">
          <article class="card-body">
            <h4 class="card-title">Facturas</h4>
            <div ngbAccordion>
              <div ngbAccordionItem *ngFor="let summary of invoicesSummary">
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>
                    <span class="row col-12">
                      <span class="col-6">
                        {{summary.dateCreated | date: 'dd/MM/yyyy': '': 'es'}}
                      </span>
                      <span class="col-6 text-end">
                        Total: <b>{{summary.total | number:'' : 'es'}}</b>
                      </span>
                    </span>
                  </button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                  <app-progress *ngIf="true"></app-progress>
                    <article class="col-md-12 p-b-10" id="selected-procedures">
                      <div class="card" id="procedure-section">
                        <div class="card-body">
                          <h5 class="card-title">Procedimientos</h5>
                          <main>
                            <header class="row">
                              <label for="name" class="col-md-6 fw-bold">Nombre</label>
                              <label for="price" class="col-md-3 fw-bold text-end">Precio (Gs.)</label>
                              <label for="finalPrice" class="col-md-3 fw-bold text-end">Precio final (Gs.)</label>
                            </header>
                            <div class="row align-center" id="selected-procedure-items">
                              <!-- <div *ngFor="let item of formProcedure.get(summary.id)!.controls['procedures']!">
                                <label class="col-md-6 form-label"> {{item.controls.name.value}}</label>
                                <label class="col-md-3 form-label text-end">
                                  {{item.controls.price.value | number:'' : 'es' }}
                                </label>
                                <label class="col-md-3 form-label text-end fw-bold">
                                  {{item.controls.finalPrice.value | number:'' : 'es' }}
                                </label>
                              </div> -->
                            </div>
                          </main>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </main>
      </section>
      <!-- <section class="col-5 p-r-0">
      
      <footer class="col-md-12 p-l-0" id="footer-procedures">
        <div class="card">
          <div class="card-body amount">
            <div class="row">
              <div class=" offset-4 col-md-4">
                <label for="subTotal"><strong>Sub Total </strong>Gs. {{formGroup.controls.subTotal.value | number:'' :
                  'es' }}</label>
              </div>
              <div class="col-md-4">
                <label for="montoTotal"><strong>Monto Total </strong>Gs. {{formGroup.controls.total.value | number:'' :
                  'es' }}</label>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </section>
    <section class="col-5 p-r-0">
      <div class="card" id="paid-section">
        <div class="card-body" [ngClass]="{'align-items-center d-flex justify-content-center': !hasPayments}">
          <div *ngIf="!hasPayments; else allPayments">
            <h5 class="text-center">Sin pagos realizados</h5>
          </div>
          <ng-template #allPayments>
            <section id="payments">
              <h5>Pagos realizados</h5>
              <header class="row paid-header">
                <h6 class="col-3">Quien registró</h6>
                <h6 class="col-3">Fecha pagada</h6>
                <h6 class="col-3 text-end">Monto (Gs.)</h6>
                <h6 class="col-3 text-end">Deuda (Gs.)</h6>
              </header>
              <div id="paid-items">
                <div class="row paid-content-row" *ngFor="let payment of payments">
                  <label class="col-3">{{payment.user}}</label>
                  <label class="col-3">{{payment.dateCreated | date: 'dd/MM/yyyy': '': 'es'}}</label>
                  <label class="col-3 text-end">{{payment.amount | number: '': 'es'}}</label>
                  <label class="col-3 text-end">{{payment.totalDebt | number: '': 'es'}}</label>
                </div>
              </div>
            </section>
            <br>
          </ng-template>
        </div>
      </div>
      <div id="file-preview" class="card">
        <div class="card-body">
          <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
              <a ngbNavLink>Imágenes</a>
              <ng-template ngbNavContent>
                <ng-container *ngIf="invoiceImageFiles.length === 0; else pictureFiles">
                  <div class="no-file">
                    <div>
                      <h5>Sin imágenes</h5>
                    </div>
                  </div>
                </ng-container>
                <ng-template #pictureFiles>
                  <div class="invoice-file d-flex flex-wrap">
                    <ng-container *ngFor="let imageFile of invoiceImageFiles">
                      <div class="col-5 gallery d-flex flex-column justify-content-space-between">
                        <div id="picture-icons" class="d-flex justify-content-end row-icons" style="height: 35px;">
                          <a (click)="downloadFile(imageFile)" title="Descargar">
                            <i class="fas fa-cloud-download-alt text-end icon-file"></i>
                          </a>
                          <a [href]="imageFile.url" target="_blank" title="Abrir en otra ventana">
                            <i class="fas fa-external-link-alt text-end icon-file m-r-8"></i>
                          </a>
                        </div>
                          <div class="d-flex justify-content-center mt-auto mb-auto">
                            <img class="pictures" [src]="imageFile.safeUrl" />
                          </div>
                          <div class="legend align-items-end">
                            <span>
                              {{imageFile.name}}
                            </span>
                          </div>
                      </div>
                    </ng-container>
                  </div>
                </ng-template>
              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink>Pdfs</a>
              <ng-template ngbNavContent>
                <ng-container *ngIf="invoicePdfFiles.length === 0; else pdfFiles">
                  <div class="no-file">
                    <div>
                      <h5>Sin Pdfs</h5>
                    </div>
                  </div>
                </ng-container>
                <ng-template #pdfFiles>
                  <div class="invoice-file d-flex flex-wrap">
                    <ng-container *ngFor="let pdfFile of invoicePdfFiles">
                      <div class="col-3 gallery">
                        <div id="pdf-icons" class="d-flex justify-content-end row-icons" style="height: 35px;">
                          <a (click)="downloadFile(pdfFile)" title="Descargar">
                            <i class="fas fa-cloud-download-alt text-end icon-file"></i>
                          </a>
                          <a [href]="pdfFile.url" target="_blank" title="Abrir en otra ventana">
                            <i class="fas fa-external-link-alt text-end icon-file m-r-8"></i>
                          </a>
                        </div>
                        <div class="d-flex justify-content-center">
                          <i class="fas fa-file-pdf pdf"></i>
                        </div>
                        <div class="legend align-items-end">
                          <span>
                            {{pdfFile.name}}
                          </span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </ng-template>
              </ng-template>
            </ng-container>
          </nav>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section> -->
    </main>
    <!-- <footer class="row col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-outline-primary m-r-8" name="cancel" (click)="exit()">
            Volver a la lista
          </button>
        </div>
      </div>
    </div>
  </footer> -->
  </div>
</div>