<span class="btn btn-sm btn-outline-primary m-r-8" *ngIf="canShowView">
  <span class=" d-flex-center" (click)="viewItem()">
    <i class="fas fa-eye m-r-2"></i>Ver
  </span>
</span>
<span class="btn btn-sm btn-outline-success m-r-8" *ngIf="canShowEdit">
  <span class="d-flex-center" (click)="editItem()">
    <i class="fas fa-pen m-r-2"></i>Editar
  </span>
</span>
<span class="btn btn-sm btn-outline-danger m-r-8" (click)="deleteItem()" *ngIf="canShowDelete">
  <span class="d-flex-center">
    <i class="fas fa-trash m-r-2"></i>Borrar
  </span>
</span>
<span class="btn btn-sm btn-outline-info" (click)="downloadItem()" *ngIf="canShowDownload">
  <span class="d-flex-center">
    <i class="fas fa-download"></i>Download
  </span>
</span>
