<span class="btn btn-sm btn-outline-info m-r-8" (click)="customItem()" *ngIf="canShowCustomButton">
  <span class="d-flex-center m-r-2">
    <i class="fas" [ngClass]="params.customButton ? params.customButton.icon : 'fa-id-card' "></i>{{params.customButton?.title}}
  </span>
</span>
<span class="btn btn-sm btn-outline-warning m-r-8" *ngIf="canApprove">
  <span class=" d-flex-center" (click)="approveItem()">
    <i class="fas fa-check m-r-2"></i>Aprobar
  </span>
</span>
<span class="btn btn-sm btn-outline-info m-r-8" *ngIf="canShowView">
  <span class="d-flex-center" (click)="viewItem()">
    <i class="fas fa-eye m-r-2"></i>Ver
  </span>
</span>
<span class="btn btn-sm btn-outline-success m-r-8" *ngIf="canShowEdit">
  <span class="d-flex-center" (click)="editItem()">
    <i class="fas fa-pen m-r-2"></i>Editar
  </span>
</span>
<span class="btn btn-sm btn-outline-danger m-r-8" (click)="deleteItem()" *ngIf="canShowDelete">
  <span class="d-flex-center">
    <i class="fas fa-trash m-r-2"></i>Borrar
  </span>
</span>
<span class="btn btn-sm btn-outline-success m-r-8" *ngIf="canRestore">
  <span class="d-flex-center" (click)="restoreItem()">
    <i class="fa fa-recycle m-r-2"></i>Restaurar
  </span>
</span>
<span class="btn btn-sm btn-outline-danger m-r-8" (click)="deactivateItem()" *ngIf="canShowDeactivate">
  <span class="d-flex-center">
    <i class="fas fa-power-off m-r-2"></i>Desactivar
  </span>
</span>
<span class="btn btn-sm btn-outline-info" (click)="downloadItem()" *ngIf="canShowDownload">
  <span class="d-flex-center">
    <i class="fas fa-download"></i>Download
  </span>
</span>
