.dot {
  background: lightblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#email, #password {
  border-top-right-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}
