<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b620a3d7-662f-4cf9-adc4-911996c0a2ed/resourceGroups/OdonSysRecursos/providers/Microsoft.Web/sites/odon-sys-back-end</ResourceId>
    <ResourceGroup>OdonSysRecursos</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://odon-sys-back-end.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f6c0dda7-f608-4989-b03f-25141207f272</ProjectGuid>
    <PublishUrl>https://odon-sys-back-end.scm.azurewebsites.net/</PublishUrl>
    <UserName>$odon-sys-back-end</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>